<launch>
    <!-- Configurable arguments -->
    <include file="$(find turtlebot_simulation)/launch/swiftpro_basic.launch"/>
    
    <node pkg="hands-on-intervention" type="controller.py" name="controller"/>

    <node pkg="hands-on-intervention" type="FK_diff_drive.py" name="velocity_converter"/>

</launch>
